<h2 mat-dialog-title>Add Invoice</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="w-100">
        <input [(ngModel)] = "invoice.invoice_number" matInput placeholder="Invoice No." type = "number" [disabled]="editMode">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100">
          <input [(ngModel)] = "invoice.invoice_date"  matInput [matDatepicker]="dp3" placeholder = "Invoice date" disabled>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field class="w-100">
            <input [(ngModel)] = "invoice.invoice_customer"  type="text" matInput [matAutocomplete]="auto"  [formControl]="myControl" placeholder="Enter Customer Name">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions  | async" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
    </div>
        
        
  </div>
  

  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="sr_no">
      <th mat-header-cell *matHeaderCellDef> Sr No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element"> 
            <mat-form-field>
                <input [(ngModel)] = "element.product" type="text" matInput [matAutocomplete]="auto1" (ngModelChange)="filterProducts(element)">
            </mat-form-field>
            <mat-autocomplete #auto1="matAutocomplete">
                <mat-option *ngFor="let option of element.filteredProducts  | async" [value]="option">{{option}}</mat-option>
            </mat-autocomplete>        
        </td>
    </ng-container>
    
     <!-- Name Column -->
     <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Rate </th>
        <td mat-cell *matCellDef="let element"> 
            <mat-form-field class="example-full-width">
                <input [(ngModel)] = "element.rate" matInput type = "number" min="0" (change) = "rateChange(element)">
            </mat-form-field>    
        </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> 
            <mat-form-field class="example-full-width">
                <input [(ngModel)] = "element.quantity" matInput type = "number" min="0" (change) = "quantityChange(element)">
            </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> 
            <mat-form-field class="example-full-width">
                <input [(ngModel)] = "element.amount" matInput type = "number" disabled>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element ; let i = index"> <button mat-button (click)="deleteParticular(element , i)">Delete</button> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-button mat-raised-button color="secondary" (click) = "addParticular()">
        <mat-icon>add</mat-icon> Add Particular
    </button>
    &nbsp;&nbsp; | &nbsp;&nbsp;
  <button mat-button mat-raised-button  (click) = "saveInvoice()" color="primary">Save Invoice</button>
  <button mat-button mat-dialog-close>No Thanks</button>
  <div fxFlex></div>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
  
</mat-dialog-actions>